# Porta do servidor
PORT=3099

# Chave secreta para hash de senhas (pepper do Argon2)
PASSWORD_PEPPER=your_secret_pepper_key_here

# Chave secreta para tokens JWT
JWT_SECRET=your_jwt_key

# URL de conexão do banco de dados de produção (Neon PostgreSQL)
DATABASE_URL=your_neon_database_url

# URL de conexão do banco de dados de teste (Neon PostgreSQL)
DATABASE_URL_TEST=your_neon_database_url_test